body, html {
    margin: 0;
    padding: 0;
    background: #f1f3f9
}

@media (min-width: 1201px) {
    html body .app header {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0
    }
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.page-content {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto
}

img {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%
}

svg {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

svg * {
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms
}

.body-main {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto
}

.banner-main {
    height: 780px;
    background-repeat: no-repeat;
    padding-top: 356px
}

@media (max-width: 1900px) {
    .banner-main {
        background-position: 30% 0
    }
}

@media (max-width: 1200px) {
    .banner-main {
        height: calc(680 * 100vw / 1200);
        padding-top: 0;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media (max-width: 767px) {
    .banner-main {
        height: 352px;
        background-position: center
    }
}

@media (max-width: 1200px) {
    .banner-main .page-content {
        padding: 0 60px
    }
}

@media (max-width: 767px) {
    .banner-main .page-content {
        padding: 0 20px
    }
}

.banner-main-title {
    margin: 0 0 7px
}

@media (max-width: 1200px) {
    .banner-main-title {
        max-width: 50%;
        width: 100%;
        margin: 0 0 25px
    }
}

@media (max-width: 767px) {
    .banner-main-title {
        max-width: 100%
    }
}

h1 .banner-main-title, h2 .banner-main-title {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0 0 7px
}

@media (max-width: 1200px) {
    h1 .banner-main-title, h2 .banner-main-title {
        font-size: calc(56 * 100vw / 1200);
        line-height: 100%
    }
}

@media (max-width: 767px) {
    h1 .banner-main-title, h2 .banner-main-title {
        font-size: 36px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }
}

.banner-main-title span {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 140%;
    color: #FFFFFF
}

@media (max-width: 1200px) {
    .banner-main-title span {
        font-size: calc(56 * 100vw / 1200);
        line-height: 100%
    }
}

@media (max-width: 767px) {
    .banner-main-title span {
        font-size: 36px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }
}

.banner-main-subtitle {
    max-width: 55%;
    width: 100%
}

@media (max-width: 767px) {
    .banner-main-subtitle {
        max-width: 100%
    }
}

.banner-main-subtitle span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF
}

@media (max-width: 1200px) {
    .banner-main-subtitle span {
        font-size: calc(24 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    .banner-main-subtitle span {
        font-size: 14px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }
}

.wr-banner-main-button {
    margin: 34px 0 0
}

.button-main {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 150ms;
    -o-transition: 150ms;
    transition: 150ms;
    cursor: pointer;
    text-decoration: none;
    min-width: 265px;
    height: 46px;
    font-size: 16px;
    line-height: 100%;
    padding: 0 34px;
    border-radius: 25px;
    text-transform: uppercase
}

.button-main:hover, .button-main:focus, .button-main:active {
    outline: none;
    text-decoration: none
}

@media (max-width: 1200px) {
    .button-main {
        height: 40px;
        font-size: 14px
    }
}

.button-main_blue {
    color: #fff;
    background: #2A93C9;
    border-color: #2A93C9
}

.button-main_white {
    color: #272727;
    background: #fff;
    border-color: #fff
}

.button-main_orange {
    color: #fff;
    background: #F37110;
    border-color: #F37110
}

.button-main_transparent {
    color: #2A93C9;
    background: transparent;
    border-color: #2A93C9
}

.button-main_small {
    min-width: 210px;
    text-transform: none
}

.button-main_section {
    min-width: 286px;
    height: 40px;
    font-size: 14px;
    text-transform: none
}

.button-main:hover, .button-main:focus, .button-main:active {
    color: #fff;
    background: #333;
    border-color: #333
}

.button-main:hover svg path, .button-main:focus svg path, .button-main:active svg path {
    fill: #fff
}

.box-info {
    padding: 55px;
    background: #fff
}

@media (max-width: 767px) {
    .box-info {
        -webkit-box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
        padding: 35px 26px 44px
    }

    .box-info .title-section {
        margin: 0 0 30px
    }
}

.section-main {
    position: relative;
    margin: 0 0 70px
}

@media (max-width: 767px) {
    .section-main {
        margin: 0 0 45px
    }
}

@media (max-width: 767px) {
    .section-main_change-mob {
        padding: 187px 0 17px;
        margin-top: -187px;
        background: #1D86BC
    }
}

@media (max-width: 767px) {
    .section-main_video > .page-content {
        padding: 0
    }

    .section-main_video .banner-section_bottom {
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.section-main_first {
    z-index: 1
}

.section-main_second {
    z-index: 0
}

.section-main_m-n {
    margin: 0
}

.text-section p, .text-section span {
    font-style: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #272727
}

@media (max-width: 1200px) {
    .text-section p, .text-section span {
        font-size: calc(24 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    .text-section p, .text-section span {
        font-size: 14px;
        text-align: left
    }
}

.text-section p {
    margin: 0 0 40px
}

@media (max-width: 767px) {
    .text-section p {
        margin: 0 0 30px
    }
}

.text-section p:last-child {
    margin: 0
}

.text-section span.text-section__strong {
    font-weight: bold
}

.text-section span.text-section__mark {
    color: #2A93C9
}

.title-section {
    margin: 0 0 50px;
    text-align: center
}

@media (max-width: 767px) {
    .title-section {
        margin: 0 0 45px
    }
}

h2 .title-section, h3 .title-section {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #272727
}

@media (max-width: 1200px) {
    h2 .title-section, h3 .title-section {
        font-size: calc(36 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    h2 .title-section, h3 .title-section {
        font-size: 18px
    }
}

.title-section span {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #272727
}

@media (max-width: 1200px) {
    .title-section span {
        font-size: calc(36 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    .title-section span {
        font-size: 18px
    }
}

@media (max-width: 767px) {
    .section-main_change-mob .title-section {
        margin: 20px auto 55px;
        width: 244px
    }

    h2 .section-main_change-mob .title-section, h3 .section-main_change-mob .title-section, .section-main_change-mob .title-section span {
        color: #fff
    }
}

.page-box-sm {
    max-width: 900px;
    width: 100%;
    margin: 0 auto
}

@media (max-width: 767px) {
    .change-bg-mob {
        padding: 187px 0 17px;
        margin-top: -187px;
        background: #1D86BC
    }
}

.advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.advantage-list_white {
    background: #fff
}

@media (max-width: 767px) {
    .advantage-list_white {
        padding: 8px 0 40px
    }
}

.advantage-card {
    margin-right: 30px;
    width: calc(100% / 3 - 30px + 30px / 3);
    background: #fff;
    padding: 73px 55px;
    min-height: 430px
}

.advantage-card:nth-child(3n) {
    margin-right: 0
}

.advantage-card:nth-child(3n-1) {
    margin-right: 30px
}

.advantage-card:nth-child(n+3) {
    margin-top: 0
}

.advantage-card:nth-child(n+4) {
    margin-top: 30px
}

@media (max-width: 1200px) {
    .advantage-card {
        min-height: 260px
    }
}

@media (max-width: 1151px) {
    .advantage-card {
        padding: 35px 20px;
        margin-right: 15px;
        width: calc(100% / 3 - 15px + 15px / 3)
    }

    .advantage-card:nth-child(3n) {
        margin-right: 0
    }

    .advantage-card:nth-child(3n-1) {
        margin-right: 15px
    }

    .advantage-card:nth-child(n+3) {
        margin-top: 0
    }

    .advantage-card:nth-child(n+4) {
        margin-top: 15px
    }
}

@media (max-width: 767px) {
    .advantage-card {
        margin-right: 15px;
        width: calc(100% / 2 - 15px + 15px / 2)
    }

    .advantage-card:nth-child(2n) {
        margin-right: 0
    }

    .advantage-card:nth-child(2n-1) {
        margin-right: 15px
    }

    .advantage-card:nth-child(n+2) {
        margin-top: 0
    }

    .advantage-card:nth-child(n+3) {
        margin-top: 15px
    }
}

@media (max-width: 479px) {
    .advantage-card {
        margin-right: 0;
        width: calc(100% / 1 - 0 + 0 / 1);
        width: 100%
    }

    .advantage-card:nth-child(1n) {
        margin-right: 0
    }

    .advantage-card:nth-child(1n-1) {
        margin-right: 0
    }

    .advantage-card:nth-child(n+1) {
        margin-top: 0
    }

    .advantage-card:nth-child(n+2) {
        margin-top: 20px
    }
}

.advantage-card_small {
    padding: 48px 60px;
    min-height: 333px
}

@media (max-width: 1200px) {
    .advantage-card_small {
        padding: 48px 40px;
        min-height: 260px
    }
}

@media (max-width: 767px) {
    .advantage-card_small {
        margin-right: 15px;
        width: calc(100% / 3 - 15px + 15px / 3)
    }

    .advantage-card_small:nth-child(3n) {
        margin-right: 0
    }

    .advantage-card_small:nth-child(3n-1) {
        margin-right: 15px
    }

    .advantage-card_small:nth-child(n+3) {
        margin-top: 0
    }

    .advantage-card_small:nth-child(n+4) {
        margin-top: 15px
    }
}

@media (max-width: 639px) {
    .advantage-card_small {
        margin-right: 0;
        width: calc(100% / 1 - 0 + 0 / 1);
        width: 100%;
        padding: 40px
    }

    .advantage-card_small:nth-child(1n) {
        margin-right: 0
    }

    .advantage-card_small:nth-child(1n-1) {
        margin-right: 0
    }

    .advantage-card_small:nth-child(n+1) {
        margin-top: 0
    }

    .advantage-card_small:nth-child(n+2) {
        margin-top: 0
    }
}

.advantage-card-ico {
    width: 120px;
    height: 120px;
    margin: 0 auto 50px
}

@media (max-width: 1151px) {
    .advantage-card-ico {
        width: 80px;
        height: 80px;
        margin: 0 auto 25px
    }
}

.advantage-card_small .advantage-card-ico {
    width: 120px;
    height: 120px
}

.advantage-card-title {
    text-align: center
}

.advantage-card-title span {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #272727
}

@media (max-width: 1200px) {
    .advantage-card-title span {
        font-size: calc(22 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .advantage-card-title span {
        font-size: 18px
    }
}

.advantage-card-descr {
    text-align: center;
    margin: 20px 0 0
}

@media (max-width: 1200px) {
    .advantage-card-descr {
        margin: 25px 0 0
    }
}

.advantage-card-descr span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #838583
}

@media (max-width: 1200px) {
    .advantage-card-descr span {
        font-size: calc(18 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .advantage-card-descr span {
        font-size: 14px
    }
}

.advantage-card_small .advantage-card-descr {
    margin: 37px 0 0
}

@media (max-width: 1200px) {
    .advantage-card_small .advantage-card-descr {
        margin: 25px 0 0
    }
}

.advantage-card_small .advantage-card-descr span {
    font-size: 14px;
    line-height: 140%
}

.list-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.list-box__item {
    margin-right: 30px;
    width: calc(100% / 2 - 30px + 30px / 2)
}

.list-box__item:nth-child(2n) {
    margin-right: 0
}

.list-box__item:nth-child(2n-1) {
    margin-right: 30px
}

.list-box__item:nth-child(n+2) {
    margin-top: 0
}

.list-box__item:nth-child(n+3) {
    margin-top: 30px
}

@media (max-width: 1151px) {
    .list-box__item {
        margin-right: 15px;
        width: calc(100% / 2 - 15px + 15px / 2)
    }

    .list-box__item:nth-child(2n) {
        margin-right: 0
    }

    .list-box__item:nth-child(2n-1) {
        margin-right: 15px
    }

    .list-box__item:nth-child(n+2) {
        margin-top: 0
    }

    .list-box__item:nth-child(n+3) {
        margin-top: 15px
    }
}

@media (max-width: 767px) {
    .list-box__item {
        margin-right: 0;
        width: calc(100% / 1 - 0 + 0 / 1);
        width: 100%
    }

    .list-box__item:nth-child(1n) {
        margin-right: 0
    }

    .list-box__item:nth-child(1n-1) {
        margin-right: 0
    }

    .list-box__item:nth-child(n+1) {
        margin-top: 0
    }

    .list-box__item:nth-child(n+2) {
        margin-top: 20px
    }
}

.banner-section {
    position: relative;
    height: 640px;
    overflow: hidden;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (max-width: 1200px) {
    .banner-section {
        height: calc(640 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    .banner-section {
        height: 454px
    }
}

@media (max-width: 479px) {
    .banner-section#banner-section-1 {
        height: 454px
    }

    .banner-section#banner-section-2 {
        height: 438px
    }

    .banner-section#banner-section-3 {
        height: 403px
    }

    .banner-section#banner-section-4 {
        height: 265px
    }
}

.banner-section-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.banner-section-bg img {
    width: 100%;
    max-height: none
}

@media (max-width: 767px) {
    .banner-section-bg .simpleParallax {
        height: 100%;
        width: 100%
    }

    .banner-section-bg .simpleParallax img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }
}

.banner-section > * {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.banner-section_top {
    margin-bottom: -166px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

@media (max-width: 1200px) {
    .banner-section_top {
        margin-bottom: calc(-166 * 100vw / 1200)
    }
}

.banner-section_bottom {
    margin-top: -166px;
    position: relative;
    z-index: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media (max-width: 1200px) {
    .banner-section_bottom {
        margin-top: calc(-166 * 100vw / 1200)
    }
}

.banner-section .page-content {
    height: 474px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (max-width: 1200px) {
    .banner-section .page-content {
        height: calc(474 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    .banner-section .page-content {
        height: 388px
    }
}

.banner-section .page-content > * {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.banner-section-title {
    max-width: 900px;
    width: 100%;
    margin: 0 auto 54px;
    text-align: center
}

@media (max-width: 767px) {
    .banner-section-title {
        margin: 0 auto 20px
    }
}

.banner-section-title span {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF
}

@media (max-width: 1200px) {
    .banner-section-title span {
        font-size: calc(36 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    .banner-section-title span {
        font-size: 18px
    }
}

.banner-section-subtitle {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 35px;
    text-align: center
}

@media (max-width: 767px) {
    .banner-section-subtitle {
        margin: 0 auto 40px
    }
}

.banner-section-subtitle span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF
}

@media (max-width: 1200px) {
    .banner-section-subtitle span {
        font-size: calc(24 * 100vw / 1200)
    }
}

@media (max-width: 767px) {
    .banner-section-subtitle span {
        font-size: 16px
    }
}

.banner-section-subtitle span.text-strong {
    font-weight: bold
}

.wr-banner-section-button {
    text-align: center
}

.accordion-list {
    background: #FFF;
    padding: 27px 40px 56px;
    margin: 0 0 10px
}

@media (max-width: 767px) {
    .accordion-list {
        padding: 27px 10px 56px
    }
}

.accordion-list-item {
    padding: 22px 20px;
    border-bottom: 1px solid #e5e5e5
}

@media (max-width: 767px) {
    .accordion-list-item {
        padding: 22px 15px
    }
}

.accordion-list-item.open {
    border-bottom: 1px solid #2A93C9
}

.accordion-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.accordion-list-item.open .accordion-title span {
    color: #2A93C9
}

@media (hover: hover) {
    .accordion-title:hover span {
        color: #2A93C9
    }
}

.accordion-title span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #272727;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms
}

.accordion-title__indicator {
    margin: 0 0 0 15px
}

.accordion-title__indicator svg {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit
}

.accordion-title__indicator svg * {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit
}

.accordion-title__indicator.open {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.accordion-title__indicator.open svg rect {
    fill: #838583
}

.accordion-title__indicator.open svg rect:first-child {
    opacity: 0
}

.accordion-descr {
    overflow: hidden;
    height: 0
}

.accordion-descr__inner {
    padding: 18px 0 0
}

.accordion-descr p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #838583;
    margin: 0
}

.attention-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    padding: 23px 40px 23px 0
}

@media (max-width: 767px) {
    .attention-main {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

.attention-main__ico {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 20px
}

.attention-main__text {
    padding: 0 0 0 5px
}

.attention-main p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #272727;
    margin: 0
}

@media (max-width: 767px) {
    .attention-main p {
        font-size: 12px
    }
}

.specialist-card-box {
    position: relative;
    width: 540px;
    background: #fff;
    padding: 60px 26px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 2
}

@media (max-width: 1200px) {
    .specialist-card-box {
        width: calc(540 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .specialist-card-box {
        width: 100%;
        max-width: 540px
    }
}

@media (max-width: 479px) {
    .specialist-card-box {
        margin-right: 0;
        width: calc(100% / 1 - 0 + 0 / 1);
        padding: 30px 0
    }

    .specialist-card-box:nth-child(1n) {
        margin-right: 0
    }

    .specialist-card-box:nth-child(1n-1) {
        margin-right: 0
    }

    .specialist-card-box:nth-child(n+1) {
        margin-top: 0
    }

    .specialist-card-box:nth-child(n+2) {
        margin-top: 20px
    }
}

.specialist-card {
    position: relative;
    height: 630px;
    overflow: hidden
}

@media (max-width: 1200px) {
    .specialist-card {
        height: auto;
        padding: 51% 0 0
    }
}

@media (max-width: 991px) {
    .specialist-card {
        padding: 0;
        background: #fff
    }
}

@media (max-width: 479px) {
    .specialist-card {
        padding: 0 15px
    }
}

.specialist-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 0
}

@media (max-width: 991px) {
    .specialist-photo {
        position: relative;
        max-width: 300px;
        margin: 0 auto
    }
}

@media (max-width: 639px) {
    .specialist-photo {
        max-width: 190px
    }
}

.specialist-photo img {
    width: 100%;
    max-height: none
}

.specialist-name {
    margin: 0 0 12px
}

.specialist-name span {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #272727
}

@media (max-width: 1200px) {
    .specialist-name span {
        font-size: calc(36 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .specialist-name span {
        font-size: 18px
    }
}

.specialist-specialization-property {
    margin: 0 0 12px
}

.specialist-specialization-property span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #838583
}

@media (max-width: 1200px) {
    .specialist-specialization-property span {
        font-size: calc(14 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .specialist-specialization-property span {
        font-size: 12px
    }
}

.specialist-specialization-title {
    margin: 0 0 20px
}

.specialist-specialization-title span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #2A93C9
}

@media (max-width: 1200px) {
    .specialist-specialization-title span {
        font-size: calc(18 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .specialist-specialization-title span {
        font-size: 12px
    }
}

.specialist-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #272727
}

@media (max-width: 1200px) {
    .specialist-info p {
        font-size: calc(18 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .specialist-info p {
        font-size: 14px
    }
}

.wr-specialist-info {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 1280px) {
    .wr-specialist-info {
        padding: 0 60px
    }
}

@media (max-width: 991px) {
    .wr-specialist-info {
        position: relative;
        background: #fff
    }
}

@media (max-width: 479px) {
    .wr-specialist-info {
        padding: 0 15px
    }
}

.slider-main {
    position: relative;
    z-index: 1
}

.slider-main.wr-slider-video {
    background: #000
}

.slider-main.wr-slider-specialist__inner {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div.slider-main-navigation {
    position: static
}

.slider-main-button {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (hover: hover) {
    .slider-main-button:hover {
        cursor: pointer
    }

    .slider-main-button:hover svg path {
        fill: #F37110
    }
}

@media (max-width: 479px) {
    .slider-main-button {
        width: 30px
    }

    .slider-main-button svg {
        width: 6px;
        height: auto
    }
}

.slider-main-button.swiper-button-disabled {
    opacity: .3
}

@media (hover: hover) {
    .slider-main-button.swiper-button-disabled:hover {
        cursor: default
    }

    .slider-main-button.swiper-button-disabled:hover svg path {
        fill: #fff
    }
}

.slider-main-button.slider-main-prev {
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)
}

.slider-main-button.slider-main-next {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%)
}

.wr-slider-video .slider-main-button {
    background: none;
    height: 40px
}

@media (max-width: 991px) {
    .wr-slider-specialist .slider-main-button {
        background: none
    }

    .wr-slider-specialist .slider-main-button svg path {
        fill: #333333
    }
}

.equipment {
    padding: 50px 60px;
    background: #fff;
    position: relative;
    z-index: 1
}

@media (max-width: 1200px) {
    .equipment {
        padding: 50px 15px 15px
    }
}

.equipment-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 0
}

@media (max-width: 1200px) {
    .equipment-card {
        padding: 0
    }
}

@media (max-width: 767px) {
    .equipment-card {
        display: block
    }
}

.equipment-card-img {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 450px;
    margin: 0 60px 0 0
}

@media (max-width: 1200px) {
    .equipment-card-img {
        margin: 0 15px 0 0
    }
}

@media (max-width: 991px) {
    .equipment-card-img {
        width: 320px
    }
}

@media (max-width: 767px) {
    .equipment-card-img {
        max-width: 450px;
        width: 100%;
        margin: 0 auto
    }
}

.equipment-card-block {
    padding: 0 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media (max-width: 767px) {
    .equipment-card-block {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        padding: 0
    }
}

.equipment-card-block__inner {
    padding: 0 40px
}

@media (max-width: 991px) {
    .equipment-card-block__inner {
        padding: 20px
    }
}

@media (max-width: 767px) {
    .equipment-card-block__inner {
        padding: 20px 6px
    }
}

.equipment-card-title span {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #272727
}

@media (max-width: 1200px) {
    .equipment-card-title span {
        font-size: calc(36 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .equipment-card-title span {
        font-size: 24px
    }
}

.equipment-card-title_desktop {
    margin: 0 0 20px;
    display: block
}

@media (max-width: 767px) {
    .equipment-card-title_desktop {
        display: none
    }
}

.equipment-card-title_mob {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 9px 14px
}

@media (max-width: 767px) {
    .equipment-card-title_mob {
        display: block
    }
}

.equipment-card-title_mob span {
    font-size: 24px;
    color: #FFFFFF
}

.equipment-card-year {
    margin: 0 0 33px
}

@media (max-width: 767px) {
    .equipment-card-year {
        margin: 0 0 15px
    }
}

.equipment-card-year span {
    display: block
}

.equipment-card-year span.equipment-card-year__property {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #838583;
    margin: 0 0 4px
}

@media (max-width: 991px) {
    .equipment-card-year span.equipment-card-year__property {
        font-size: 12px
    }
}

.equipment-card-year span.equipment-card-year__value {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #2A93C9
}

@media (max-width: 991px) {
    .equipment-card-year span.equipment-card-year__value {
        font-size: 12px
    }
}

.equipment-card-descr {
    margin: 0 0 50px
}

@media (max-width: 991px) {
    .equipment-card-descr {
        margin: 0 0 30px
    }
}

@media (max-width: 767px) {
    .equipment-card-descr {
        margin: 0
    }
}

.equipment-card-descr p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #272727
}

@media (max-width: 1200px) {
    .equipment-card-descr p {
        font-size: calc(20 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .equipment-card-descr p {
        font-size: 14px
    }
}

.equipment-card-addition {
    padding: 40px;
    background: #2A93C9
}

@media (max-width: 991px) {
    .equipment-card-addition {
        padding: 20px
    }
}

.equipment-card-addition p {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0
}

@media (max-width: 1200px) {
    .equipment-card-addition p {
        font-size: calc(20 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .equipment-card-addition p {
        font-size: 14px
    }
}

.review-box {
    background: #fff;
    padding: 33px 32px 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

@media (max-width: 991px) {
    .review-box {
        padding: 12px 15px 18px
    }
}

.review-box > * {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.review-title {
    margin: 0 0 20px
}

.review-title span {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #272727
}

@media (max-width: 1200px) {
    .review-title span {
        font-size: calc(24 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .review-title span {
        font-size: 18px
    }
}

.review-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 0 25px
}

.review-text span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #272727
}

@media (max-width: 1200px) {
    .review-text span {
        font-size: calc(18 * 100vw / 1200)
    }
}

@media (max-width: 991px) {
    .review-text span {
        font-size: 14px
    }
}

.recall-result-title {
    margin: 0 0 12px
}

.recall-result-title span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #838583
}

.recall-button {
    text-align: center;
    margin: 43px 0 0
}

.recall-result-box {
    position: relative;
    overflow: hidden;
    padding: 39.605% 0 0
}

.recall-result-box__after, .recall-result-box__before {
    position: absolute;
    top: 0;
    height: 100%
}

.recall-result-box__after img, .recall-result-box__before img {
    height: 100%
}

.recall-result-box-img {
    height: 100%;
    overflow: hidden
}

.recall-result-box__after {
    z-index: 1;
    right: 0;
    width: 50%
}

.recall-result-box__after img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: none
}

.recall-result-box__before {
    z-index: 0;
    left: 0;
    width: 100%
}

.recall-result-box-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 12px;
    z-index: 0
}

.recall-result-box-title span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF
}

@media (max-width: 991px) {
    .recall-result-box-title span {
        font-size: 14px
    }
}

.video-card {
    padding: calc(100% * 9 / 16) 0 0
}

.video-card-img {
    position: absolute;
    top: 0;
    left: 0
}

.video-card-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 58px;
    height: 41px;
    cursor: pointer;
    user-focus: none
}

.video-card-button:hover svg path {
    fill: #F37110
}

.video-card-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    display: none
}

.video-card-iframe iframe {
    width: 100%;
    height: 100%
}

.fadeInUp-start {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0
}

@media (max-width: 479px) {
    .fadeInUp-start {
        -webkit-transform: translateY(70px);
        -ms-transform: translateY(70px);
        transform: translateY(70px)
    }
}

.in-Left-Up {
    opacity: 0;
    -webkit-transform: translate(100px, 100px) scale(0.8, 0.8);
    -ms-transform: translate(100px, 100px) scale(0.8, 0.8);
    transform: translate(100px, 100px) scale(0.8, 0.8)
}

.in-Left-Down {
    opacity: 0;
    -webkit-transform: translate(100px, -100px) scale(0.8, 0.8);
    -ms-transform: translate(100px, -100px) scale(0.8, 0.8);
    transform: translate(100px, -100px) scale(0.8, 0.8)
}

.in-Right-Up {
    opacity: 0;
    -webkit-transform: translate(-100px, 100px) scale(0.8, 0.8);
    -ms-transform: translate(-100px, 100px) scale(0.8, 0.8);
    transform: translate(-100px, 100px) scale(0.8, 0.8)
}

.in-Right-Down {
    opacity: 0;
    -webkit-transform: translate(-100px, -100px) scale(0.8, 0.8);
    -ms-transform: translate(-100px, -100px) scale(0.8, 0.8);
    transform: translate(-100px, -100px) scale(0.8, 0.8)
}

.in-Left {
    opacity: 0;
    -webkit-transform: translate(100px, 0) scale(0.8, 0.8);
    -ms-transform: translate(100px, 0) scale(0.8, 0.8);
    transform: translate(100px, 0) scale(0.8, 0.8)
}

.in-Right {
    opacity: 0;
    -webkit-transform: translate(-100px, 0) scale(0.8, 0.8);
    -ms-transform: translate(-100px, 0) scale(0.8, 0.8);
    transform: translate(-100px, 0) scale(0.8, 0.8)
}

.in-Down {
    opacity: 0;
    -webkit-transform: translate(0, -100px) scale(0.8, 0.8);
    -ms-transform: translate(0, -100px) scale(0.8, 0.8);
    transform: translate(0, -100px) scale(0.8, 0.8)
}

.in-Up {
    opacity: 0;
    -webkit-transform: translate(0, 100px) scale(0.8, 0.8);
    -ms-transform: translate(0, 100px) scale(0.8, 0.8);
    transform: translate(0, 100px) scale(0.8, 0.8)
}

.fade {
    opacity: 0;
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8)
}

.draggable {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 2px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

}

.draggable:after {
    content: '';
    display: block;
    width: 2px;
    background: #fff;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dr-btn {
    display: flex;
    height: 35px;
}

.dr-btn__left, .dr-btn__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 35px;
    background: #fff;
}

.dr-btn__left {
    position: absolute;
    right: 100%;
    border-radius: 10px 0 0 10px;
}

.dr-btn__right {
    border-radius: 0 10px 10px 0;
}

.animLeftRight {
    animation: leftRight 2500ms;
    animation-iteration-count: 2;
}

.contacts-wrap {
    display: flex;
    align-items: center;

}



.rd-navbar-static .rd-menu {
    z-index: 15;
    position: absolute;
    width: 1170px;
    margin-left:  -115px;
    padding: 30px 40px;
    margin-top: 22px ;

    visibility: hidden;
    opacity: 0;
    text-align: left;
    border: 1px solid #d7d7d7;
    transform: translate3d(0, 30px, 0);

}



.rd-navbar-static .rd-nav-link {
    position: relative;
    display: inline-block;
    color: #2c343b;
    font-size: 16px;
    line-height: 1.2;
    transition: .25s;
}

.rd-navbar-static .rd-navbar-dropdown {
    position: absolute;
    left: 0;
    width: 250px;
    height: 137px;
    padding: 15px;
    background: #fff;
    z-index: 5;
    margin-left: 5px;
}

.unit {
    align-items: center;

}

.rd-navbar-subpage.rd-navbar-static .rd-navbar-aside .contact-info + .contact-info {

    display: flex;

}

@media (max-width: 1024px) {
    .contacts-wrap {
        display: flex;
        align-items: start;

    }

    .rd-navbar-fixed .rd-navbar-fixed-element-1 {
        right: 10px;

    }
    .rd-navbar-panel{
        display: flex;
        align-items: center;
    }
    .rd-navbar-toggle {

        padding: 7px 20px;
        line-height: 1;
        font-size: 1rem;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 600;
        background-color: transparent;
        outline: none;
        border: none;
        display: inline-block;
        cursor: pointer;
        cursor: hand;
        box-shadow: none;
        border-radius: 5px;
    }

    .rd-navbar-fixed .rd-nav-link {
        color: #9b9b9b;
    }

    .rd-navbar-fixed .rd-nav-link {
        display: block;
        padding: 19px 56px 19px 18px;
    }


    .rd-navbar-submenu-toggle{
        content: '\f107';
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 52px;
        font: 400 14px "FontAwesome";
        line-height: 52px;
        text-align: center;
        transition: 0.4s all ease;
        z-index: 2;
        cursor: pointer;
    }



}
.rd-navbar-aside{
    justify-content: space-between;
}

@media (min-width: 1025px) {

    .rd-navbar-fixed .rd-nav-link {
        display: block;
        padding: 19px 56px 19px 18px;
    }

    .unit-body-first{
        width: 120px;
    }

    .unit-body-third{
        width: 319px;
        margin-right: 30px;
    }

    .contacts-wrap {
        width: 1000px;
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .rd-navbar-fixed .rd-navbar-fixed-element-1 {
        right: 10px;

    }
    .rd-navbar-panel{
        display: flex;
        align-items: center;
    }
    .rd-navbar-toggle {

        padding: 7px 20px;
        line-height: 1;
        font-size: 1rem;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 600;
        background-color: transparent;
        outline: none;
        border: none;
        display: inline-block;
        cursor: pointer;
        cursor: hand;
        box-shadow: none;
        border-radius: 5px;
    }

    .rd-navbar-fixed .rd-nav-link {
        color: #9b9b9b;
    }

    .rd-navbar-fixed .rd-nav-link {
        display: block;
        padding: 19px 56px 19px 18px;
    }

    .rd-navbar-submenu-toggle{
        content: '\f107';
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 52px;
        font: 400 14px "FontAwesome";
        line-height: 52px;
        text-align: center;
        transition: 0.4s all ease;
        z-index: 2;
        cursor: pointer;
    }

    html.rd-navbar-fixed-linked .page {
         padding-top: 0px;
    }

    .plastica-banner-position{
        margin-top: 70px;
    }

    .before-foter-position{
        padding-top: 140px;
    }

    .before-foter-positiont-seccond{

    }

}

.color-main{
    color: #ffffff;
}
.body-main{
    background: #f1f3f9;
}

custom-color{
    color: rgba(255, 255, 255, 0.7);;
}

.footer a {
   color: #ffffff;
}

@keyframes leftRight {
    33% {
        width: 70%;
    }
    66% {
        width: 30%;
    }
}







