ul {
    list-style: none
}

ul.two-columns {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -moz-column-width: 50%;
    -webkit-column-width: 50%;
    columns: 50% 2
}

ul.two-columns > * {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid
}

ul.list-links > li > a {
    color: #2a93c9;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

ul.list-links > li > a:hover {
    color: #294481
}

ul:not(.list-not-marked).list-marked {
    padding-left: 20px
}

ul:not(.list-not-marked).list-marked.list-tab-none {
    padding-left: 0 !important
}

ul:not(.list-not-marked).list-marked.list-preset-light li:before {
    color: #fff
}

ul:not(.list-not-marked).list-marked li {
    font-size: 1rem;
    padding-left: 25px;
    line-height: 1.5
}

ul:not(.list-not-marked).list-marked li:before {
    line-height: 1;
    content: "\F142";
    font-family: Material Design Icons;
    color: #2a93c9;
    position: absolute;
    top: 12px;
    left: -5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media (max-width: 480px) {
    ul:not(.list-not-marked).list-marked li:before {
        top: 9px
    }
}

ul + p, ul:not(.list-not-marked).list-marked li + li, ul:not(.list-not-marked).list-marked li ul {
    margin-top: 10px
}

ul.socials {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center
}

ul.socials.social-preset-grey > li a {
    background: #e5e5e5
}

ul.socials li + li {
    margin-left: 15px
}

ul.socials li a {
    background: #fff;
    font-size: 1.125rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}

ul.socials li a, ul.socials li a i {
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

ul.socials li a i {
    color: #767676
}

ul.socials li a:hover.youtube {
    background: #c4302b
}

ul.socials li a:hover.instagram {
    background: #c13584
}

ul.socials li a:hover.facebook {
    background: #39569c
}

ul.socials li a:hover.telegram {
    background: #5682a3
}

ul.socials li a:hover, ul.socials li a:hover i {
    color: #fff
}

section {
    display: block;
    width: 100%;
    min-width: 300px
}

@media (max-width: 1200px) {
    section.section-image:not(.section-flat-height), section.section-padding:not(.section-flat-height) {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

@media (min-width: 1201px) {
    section.section-image:not(.section-flat-height), section.section-padding:not(.section-flat-height) {
        padding-top: 110px;
        padding-bottom: 110px
    }
}

@media (max-width: 1200px) {
    section:not(.section-image):not(.section-flat-height):not(.section-padding) {
        margin-top: 60px;
        margin-bottom: 60px
    }
}

@media (min-width: 1201px) {
    section:not(.section-image):not(.section-flat-height):not(.section-padding) {
        margin-top: 110px;
        margin-bottom: 110px
    }
}

@media (max-width: 1200px) {
    section:not(.section-flat-width) {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media (min-width: 1201px) {
    section:not(.section-flat-width) {
        padding-left: 50px;
        padding-right: 50px
    }
}

section.section-full-height {
    height: 100vh
}

section.section-full-height > .content, section.section-full-height > .images {
    height: 100%
}

section.section-background-light {
    background: #fff
}

section > .images {
    z-index: 2
}

@media (min-width: 1201px) {
    section:not(.section-sides):not(.section-full-width) > .content {
        max-width: 1170px
    }
}

@media (max-width: 1200px) {
    section:not(.section-sides):not(.section-full-width) > .content {
        max-width: 970px
    }
}

@media (max-width: 992px) {
    section:not(.section-sides):not(.section-full-width) > .content {
        max-width: 750px
    }
}

@media (max-width: 480px) {
    section:not(.section-sides):not(.section-full-width) > .content {
        max-width: 480px
    }
}

section > .content {
    z-index: 5;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important
}

section > .content > h3, section > .content > p {
    width: 100%
}

@media (max-width: 1200px) {
    section > .content > h3, section > .content > p {
        text-align: center
    }
}

@media (max-width: 1200px) {
    section > .content > h3 + p, section > .content > p + p {
        margin-top: 15px
    }
}

@media (min-width: 1201px) {
    section > .content > h3 + p, section > .content > p + p {
        margin-top: 40px
    }
}

@media (max-width: 1200px) {
    section > .content > h3 + .slot, section > .content > p + .slot {
        margin-top: 15px
    }
}

@media (min-width: 1201px) {
    section > .content > h3 + .slot, section > .content > p + .slot {
        margin-top: 60px
    }
}

@media (max-width: 480px) {
    section > .content > h3 {
        font-size: 1.875rem
    }
}

section > .content > p, section > .content > p strong {
    font-size: 1.125rem
}

section > .content > .slot {
    width: 100%
}

@media (max-width: 1200px) {
    section > .content > .slot {
        text-align: center
    }
}

section:not(.section-mouse-effects) > .content {
    text-align: center
}

section.section-image {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

section.section-image:after, section.section-image:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

section.section-image:before {
    z-index: 3;
    background: -webkit-gradient(linear, left top, right top, from(rgba(21, 108, 152, .5)), color-stop(70%, rgba(21, 108, 152, 0)), to(rgba(21, 108, 152, 0)));
    background: linear-gradient(90deg, rgba(21, 108, 152, .5) 0, rgba(21, 108, 152, 0) 70%, rgba(21, 108, 152, 0))
}

section.section-image:after {
    z-index: 4;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .2)), color-stop(70%, rgba(0, 0, 0, .1)), to(transparent));
    background: linear-gradient(90deg, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .1) 70%, transparent)
}

section.section-image.parallax > .images {
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

@media (min-width: 1201px) {
    section.section-image.parallax > .images {
        opacity: 0;
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        left: -1px
    }
}

@media (max-width: 1200px) {
    section.section-image.parallax > .images {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }
}

@media (min-width: 1201px) {
    section.section-image.parallax > .images img {
        min-width: 101%;
        min-height: 101%;
        position: absolute;
        bottom: 0;
        left: 50%
    }
}

@media (max-width: 1200px) {
    section.section-image.parallax > .images img {
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transform: translate(0) !important;
        transform: translate(0) !important;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0
    }
}

section.section-image:not(.parallax).fitter > .images > img {
    width: 100%;
    height: 100%
}

section.section-image:not(.parallax) > .images {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.breadcrumbs-component {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    align-items: flex-end
}

@media (max-width: 1200px) {
    .breadcrumbs-component {
        padding: 15px;
        width: 100%;
        height: 200px
    }
}

@media (min-width: 1201px) {
    .breadcrumbs-component {
        padding: 30px 50px;
        width: 100%;
        height: 300px
    }
}

.breadcrumbs-component > .images {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.breadcrumbs-component > .images:after, .breadcrumbs-component > .images:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.breadcrumbs-component > .images:before {
    background: rgba(38, 132, 181, .5);
    z-index: 2
}

.breadcrumbs-component > .images:after {
    background: rgba(0, 0, 0, .1);
    z-index: 3
}

.breadcrumbs-component > .images > img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.breadcrumbs-component > .content {
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1170px
}

@media (max-width: 1200px) {
    .breadcrumbs-component > .content {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center
    }
}

@media (min-width: 1201px) {
    .breadcrumbs-component > .content {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center
    }
}

.breadcrumbs-component > .content > h1 {
    color: #fff;
    display: block
}

@media (min-width: 1201px) {
    .breadcrumbs-component > .content > h1 {
        font-size: 3.5rem
    }
}

@media (max-width: 1200px) {
    .breadcrumbs-component > .content > h1 {
        font-size: 1.5rem;
        text-align: center
    }
}

.breadcrumbs-component > .content > .list {
    position: absolute;
    bottom: 0
}

@media (max-width: 1200px) {
    .breadcrumbs-component > .content > .list {
        display: none
    }
}

@media (min-width: 1201px) {
    .breadcrumbs-component > .content > .list {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start
    }
}

.breadcrumbs-component > .content > .list > li:not(:first-child) {
    margin-left: 15px
}

.breadcrumbs-component > .content > .list > li:not(:first-child):before {
    content: "\F142";
    font-family: Material Design Icons;
    font-size: 1rem;
    padding-right: 15px;
    opacity: .4;
    color: hsla(0, 0%, 100%, .8)
}

.breadcrumbs-component > .content > .list > li span {
    color: hsla(0, 0%, 100%, .8)
}

.doctors-departments-section > .departments-list-compact {
    padding-bottom: 60px;
    margin: 0 -15px 60px;
    flex-wrap: wrap;
    display: -webkit-box;
    display: flex
}

.doctors-departments-section > .departments-list-compact:after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
    border-bottom: 1px solid #e5e5e5
}

.doctors-departments-section > .departments-list-compact > .department {
    display: block;
    border: 2px solid #2a93c9;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

@media (min-width: 993px) {
    .doctors-departments-section > .departments-list-compact > .department {
        width: calc(20% - 30px)
    }
}

@media (max-width: 992px) and (min-width: 661px) {
    .doctors-departments-section > .departments-list-compact > .department {
        width: calc(33% - 30px)
    }
}

@media (min-width: 661px) {
    .doctors-departments-section > .departments-list-compact > .department {
        padding: 30px 15px;
        margin: 0 15px 30px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        flex-direction: column !important
    }
}

@media (max-width: 660px) {
    .doctors-departments-section > .departments-list-compact > .department {
        padding: 5px;
        margin: 0 15px 15px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%
    }
}

.doctors-departments-section > .departments-list-compact > .department:hover {
    border: 2px solid #f37110;
    border-radius: 5px
}

@media (min-width: 661px) {
    .doctors-departments-section > .departments-list-compact > .department:hover > .details {
        opacity: 1
    }
}

@media (min-width: 661px) {
    .doctors-departments-section > .departments-list-compact > .department > img {
        width: 48px;
        height: 48px
    }
}

@media (max-width: 660px) {
    .doctors-departments-section > .departments-list-compact > .department > img {
        width: 38px;
        height: 38px
    }
}

.doctors-departments-section > .departments-list-compact > .department > .title {
    text-transform: uppercase;
    text-align: center;
    font-size: .875rem
}

@media (min-width: 661px) {
    .doctors-departments-section > .departments-list-compact > .department > .title {
        margin-top: 15px
    }
}

@media (max-width: 660px) {
    .doctors-departments-section > .departments-list-compact > .department > .title {
        margin-left: 10px;
        font-size: 1.125rem
    }
}

.doctors-departments-section > .departments-list-compact > .department > .details {
    opacity: 0;
    padding: 5px 7px;
    text-transform: uppercase;
    background: #fff;
    font-size: .75rem;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    border: 2px solid #f37110;
    border-radius: 5px;
    -webkit-transform: translateY(50%) translateX(-50%);
    transform: translateY(50%) translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%
}

.doctors-departments-section > .content > .doctors-departments-section-department + .doctors-departments-section-department {
    margin-top: 70px
}

.doctors-departments-section > .content > .doctors-departments-section-department > .content > .doctors {
    flex-wrap: wrap;
    margin: 60px -15px 0;
    display: -webkit-box;
    display: flex
}

@media (max-width: 1020px) {
    .doctors-departments-section > .content > .doctors-departments-section-department > .content > .doctors {
        -webkit-box-pack: center;
        justify-content: center
    }
}

.doctors-departments-section > .content > .doctors-departments-section-department > .content > .doctors > .doctor-tile-compact-component {
    text-align: left;
    margin: 0 15px 30px
}

@media (min-width: 993px) {
    .doctors-departments-section > .content > .doctors-departments-section-department > .content > .doctors > .doctor-tile-compact-component {
        width: calc(25% - 30px)
    }
}

@media (min-width: 501px) and (max-width: 992px) {
    .doctors-departments-section > .content > .doctors-departments-section-department > .content > .doctors > .doctor-tile-compact-component {
        width: calc(50% - 30px)
    }
}

.doctor-tile-compact-component {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important
}

.doctor-tile-compact-component:hover > .content {
    bottom: 60px
}

.doctor-tile-compact-component > img {
    width: 100%
}

.doctor-tile-compact-component > .content {
    z-index: 3;
    background: #2a93c9;
    padding: 35px 30px;
    margin-top: -5px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.doctor-tile-compact-component > .content > .name {
    font-size: 1.375rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.5
}

.doctor-tile-compact-component > .content > .description {
    color: hsla(0, 0%, 100%, .4);
    font-style: italic;
    line-height: 1.5
}

.doctor-tile-compact-component > .content > .more {
    z-index: 1;
    text-transform: uppercase;
    color: #000;
    background: #fff;
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: -60px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.doctor-tile-compact-component > .content > .more:hover {
    color: #fff;
    background: #f37110
}

html.page-doctors-departments {
    background: #fff
}

html.page-doctors-departments body .app section > .content {
    text-align: left
}
